<!--
  copié depuis le code source de https://beta.gouv.fr/startups/lapins.html
-->

<!--
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

    <symbol id="icon-github">
      <title>github</title>
      <path d="M16,0.395c-8.836,0 -16,7.163 -16,16c0,7.069 4.585,13.067 10.942,15.182c0.8,0.148 1.094,-0.347 1.094,-0.77c0,-0.381 -0.015,-1.642 -0.022,-2.979c-4.452,0.968 -5.391,-1.888 -5.391,-1.888c-0.728,-1.849 -1.776,-2.341 -1.776,-2.341c-1.452,-0.993 0.11,-0.973 0.11,-0.973c1.606,0.113 2.452,1.649 2.452,1.649c1.427,2.446 3.743,1.739 4.656,1.33c0.143,-1.034 0.558,-1.74 1.016,-2.14c-3.554,-0.404 -7.29,-1.777 -7.29,-7.907c0,-1.747 0.625,-3.174 1.649,-4.295c-0.166,-0.403 -0.714,-2.03 0.155,-4.234c0,0 1.344,-0.43 4.401,1.64c1.276,-0.355 2.645,-0.532 4.005,-0.539c1.359,0.006 2.729,0.184 4.008,0.539c3.054,-2.07 4.395,-1.64 4.395,-1.64c0.871,2.204 0.323,3.831 0.157,4.234c1.026,1.12 1.647,2.548 1.647,4.295c0,6.145 -3.743,7.498 -7.306,7.895c0.574,0.497 1.085,1.47 1.085,2.963c0,2.141 -0.019,3.864 -0.019,4.391c0,0.426 0.288,0.925 1.099,0.768c6.354,-2.118 10.933,-8.113 10.933,-15.18c0,-8.837 -7.164,-16 -16,-16l0,0Z"></path>
    </symbol>

    <symbol id="icon-twitter">
      <title>twitter</title>
      <path d="M32,7.075c-1.175,0.525 -2.444,0.875 -3.769,1.031c1.356,-0.813 2.394,-2.1 2.887,-3.631c-1.269,0.75 -2.675,1.3 -4.169,1.594c-1.2,-1.275 -2.906,-2.069 -4.794,-2.069c-3.625,0 -6.563,2.938 -6.563,6.563c0,0.512 0.056,1.012 0.169,1.494c-5.456,-0.275 -10.294,-2.888 -13.531,-6.862c-0.563,0.969 -0.887,2.1 -0.887,3.3c0,2.275 1.156,4.287 2.919,5.463c-1.075,-0.031 -2.087,-0.331 -2.975,-0.819c0,0.025 0,0.056 0,0.081c0,3.181 2.263,5.838 5.269,6.437c-0.55,0.15 -1.131,0.231 -1.731,0.231c-0.425,0 -0.831,-0.044 -1.237,-0.119c0.838,2.606 3.263,4.506 6.131,4.563c-2.25,1.762 -5.075,2.813 -8.156,2.813c-0.531,0 -1.05,-0.031 -1.569,-0.094c2.913,1.869 6.362,2.95 10.069,2.95c12.075,0 18.681,-10.006 18.681,-18.681c0,-0.287 -0.006,-0.569 -0.019,-0.85c1.281,-0.919 2.394,-2.075 3.275,-3.394l0,-0.001Z"></path>
    </symbol>

    <symbol id="icon-linkedin">
        <title>linkedin</title>
        <path d="M19,19H16V13.7A1.5,1.5 0 0,0 14.5,12.2A1.5,1.5 0 0,0 13,13.7V19H10V10H13V11.2C13.5,10.36 14.59,9.8 15.5,9.8A3.5,3.5 0 0,1 19,13.3M6.5,8.31C5.5,8.31 4.69,7.5 4.69,6.5A1.81,1.81 0 0,1 6.5,4.69C7.5,4.69 8.31,5.5 8.31,6.5A1.81,1.81 0 0,1 6.5,8.31M8,19H5V10H8M20,2H4C2.89,2 2,2.89 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z"></path>
    </symbol>
  </defs>
</svg>

<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <img src="https://d33wubrfki0l68.cloudfront.net/992ddb1d6775b29b1b10bab49fba4ddb891c9dae/93e38/assets/images/betagouvfr.svg" alt="beta.gouv.fr">
      <ul class="footer__social">
        <li><a href="https://www.twitter.com/betagouv"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
        <li><a href="https://www.linkedin.com/company/betagouv/"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a></li>
        <li><a href="https://www.github.com/betagouv"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg></a></li>
      </ul>
    </div>
    <div class="footer__links">
      <ul>
          <li><a href="/apropos/">Mentions légales</a></li>
          <li><a href="/dashboard/">Vue d'ensemble</a></li>
          <li><a href="/content/docs/rapportannuel.pdf">En détails et en chiffres</a></li>
          <li><a href="/communaute/">Communauté</a></li>
          <li><a href="/contact/">Nous contacter</a></li>
      </ul>
    </div>
    <div class="footer__links">
      <ul>
          <li><a href="https://beta.gouv.fr/startups/friches.html/">Une mission de la DINUM</a></li>
          <li><a href="https://github.com/betagouv/UrbanVitaliz/">Code source</a></li>  
          <li><a href="/suivi/">Suivi d'audience et vie privée</a></li>
          <li><a href="/stats/">Indicateurs &amp; mesure d'impact</a></li>
          <li><a href="https://www.data.gouv.fr/fr/datasets/conventions-de-partenariat/">Conventions de partenariat</a></li>
      </ul>
    </div>
    <div class="footer__links">     
</footer>
-->

<!--
  Adapté librement depuis le design system de l'état v0.5.3
  https://gouvfr.atlassian.net/wiki/spaces/DB/pages/222331413/Pied+de+page+-+Footer
-->

<style>
  .rf-footer img{
    max-height: 100%;
  }
</style>

<footer class="rf-footer" role="contentinfo" id="footer">
    <div class="rf-container">
        <div class="rf-footer__body">
            <div class="rf-footer__brand">
                <a class="rf-logo" href="#" title="république française">
                    <span class="rf-logo__title">république
                        <br>française</span>
                </a>

                <a class="rf-footer__brand-link" href="https://www.cerema.fr/">
                  <img class="rf-footer__logo" src="{{ "./assets/images/Logo_CEREMA.png" | relative_url}}" alt="Logo CEREMA">
                </a>
            </div>
            <div class="rf-footer__content">
                <!--
                  <p class="rf-footer__content-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                -->
                <ul class="rf-footer__content-list">
                    <li class="rf-footer__content-item">
                        <a class="rf-footer__content-link" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
                    </li>
                    <li class="rf-footer__content-item">
                        <a class="rf-footer__content-link" href="https://gouvernement.fr">gouvernement.fr</a>
                    </li>
                    <li class="rf-footer__content-item">
                        <a class="rf-footer__content-link" href="https://service-public.fr">service-public.fr</a>
                    </li>
                    <li class="rf-footer__content-item">
                        <a class="rf-footer__content-link" href="https://data.gouv.fr">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rf-footer__partners">
          <h4 class="rf-footer__partners-title">Nos partenaires</h4>
          <div class="rf-footer__partners-logos">
              <div class="rf-footer__partners-main">  
                <a class="footer__partners-link" href="#">
                  <img class="rf-footer__logo" src="{{ "./assets/images/logo beta.gouv.png" | relative_url}}" alt="logo beta.gouv">
                </a>
              </div>
              <div class="rf-footer__partners-sub">
                  <a class="footer__partners-link" href="#">
                      <img class="rf-footer__logo" src="{{ "./assets/images/Logo-France-Relance.png" | relative_url}}" alt="logo France Relance">
                  </a>
              </div>
          </div>
        </div>
        <div class="rf-footer__bottom">
            <ul class="rf-footer__bottom-list">
                <!--
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Plan du site</a>
                </li>
                -->
                <li class="rf-footer__bottom-item">
                  <a class="rf-footer__bottom-link">Accessibilité: non</a>
                </li>
                <li class="rf-footer__bottom-item">
                  <a class="rf-footer__bottom-link" href="https://github.com/betagouv/urbanvitaliz">Code source</a>
                </li>
                <!--
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Mentions légales</a>
                </li>
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Données personnelles</a>
                </li>
                <li class="rf-footer__bottom-item">
                    <a class="rf-footer__bottom-link" href="#">Gestion des cookies</a>
                </li>
                -->
            </ul>
        </div>
    </div>
</footer>