<header class="rf-header" role="banner">
    <div class="rf-container">
        <div class="rf-header__body">
            <div class="rf-header__brand">
                <a class="rf-logo" href="#" title="République française">
                    <span class="rf-logo__title">
                        République<br>
                        française
                    </span>
                </a>
            </div>
            <div class="rf-header__operator">
                <!-- 
                    UrbanVitaliz est le service/produit.
                    Il n'est pas clair si c'est considéré comme un "operator"
                -->
                <img src="{{ "assets/images/logo_uv_carre.PNG" | relative_url}}" alt="Logo UrbanVitaliz"
                    style="width:6rem; height:auto;">
            </div>
            <div class="rf-header__navbar">
                <div class="rf-service">
                    <a class="rf-service__title" href="{{ "/" | relative_url }}" title="UrbanVitaliz">
                        UrbanVitaliz
                    </a>
                    <p class="rf-service__tagline">Réhabiliter vos friches plus sereinement</p>
                </div>
            </div>
            <div class="rf-header__tools">
                <div class="rf-shortcuts">
                    <ul class="rf-shortcuts__list">
                        <li class="rf-shortcuts__item">
                            <button class="rf-btn rf-fi-account-fill rf-btn--icon-left" aria-expanded="false" aria-controls="rf-modal-2">Se connecter</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<dialog aria-labelledby="rf-modal-title-modal-2" role="dialog" id="rf-modal-2" class="rf-modal">
    <div class="rf-container--fluid rf-container-md">
        <div class="rf-grid-row rf-grid-row--center">
            <div class="rf-col-12 rf-col-md-6">
                <div class="rf-modal__body">
                    <div class="rf-modal__header">
                        <button class="rf-link--close rf-link" title="Fermer la fenêtre modale" aria-controls="rf-modal-2" target="_self">Fermer</button>
                    </div>
                    <div class="rf-modal__content">
                        <h1 id="rf-modal-title-modal-2" class="rf-modal__title">Se connecter</h1>
                        <label class="rf-label" for="text-input-text">Email</label>
                        <input class="rf-input" type="text" id="text-input-text" name="text-input-text">
                        <!-- <p>Saisissez votre email afin de recevoir le lien de connection.</p> -->
                    </div>
                    <div class="rf-modal__footer">
                        <ul class="rf-btns-group rf-btns-group--inline-lg rf-btns-group--icon-left">
                            <li>
                                <button class="rf-btn">
                                    Connexion
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
