header{
    a{
        height: 4.5rem;

        img{
            height: 100%;
        }

        &:hover{
            // reset behavior by template.beta.gouv.fr css
            background-color: inherit;

            // reset behavior by bootstrap scafolding css
            text-decoration: none;
        }
    }
}