--- 
--- 

@import 'ressource-layout.scss';
@import 'saisie-site.scss';
@import 'header.scss';
@import 'footer.scss';


.article__hero {
    height: 25vh;

    h1 {
        text-align: center;
        font-size: 300%;
        font-weight: bold;
        color:white;
        
    }
}

.article-grey {
    background-color: var(--theme-background-grey);
}

.footer__logo img {
    width: 120px;
    min-height: 8em;
}

@media (max-width: 565px) {
    .navbar__home {
        flex-direction: column;
    }

    .navbar__container {
        align-items: center;
    }
}


