<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}" data-rf-reset>

{%- include head.html -%}

<body>

  <style>
    
    main{
        width: 100%;
        /* comparing with home layout, maybe this padding is a bad idea because of the banner. To be revisited */
        padding: 0 calc( max(5px, ( 100vw - 60rem ) / 2 ));

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 60rem) {
      main > *{
        width: 50rem;
      }
    }

  </style>

  {%- include header.html -%}

  <main>
    {{ content }}
  </main>

  {%- include footer.html -%}

</body>

</html>
