---
layout: empty
---

<style>
  main{
    padding: 0 calc( max(5px, ( 100vw - 60em ) / 2 ));
  }
</style>

<!--

nom: Exemple
# Bien garder les guillemets, sinon le numéro affiché ne sera pas le bon
numero_telephone: "0600000000" 
zone_intervention: 
    - Métropole de Lille 
    - rue du tondu à Bordeaux
interventions:
    - description: Évaluation du niveau des pollens
      service: Service de la désartificialisation
      conditions: des fleurs sur la friche
      phase: genre plutôt au début
      dossier: des photos des fleurs concernées, idéalement leur nom en latin et l'ordre de grandeur de quantité en puissance de 10
      contact: flore.duvase+pollens@example.org
    - description: Vérification du budget
      conditions: avoir reçu les financements
      phase: vers la fin, avant que les travaux ne commencent
      dossier: budget prévisionnel
      contact: martine.desthunes+friches@example.org
commentaire_structure: On aime bien les fleurs et les pièces
adresse_url: https://hauts-de-france.ademe.fr/

-->

<h1>{{page.nom}}</h1>

<address>
  <p><strong>Numéro de téléphone&nbsp;:</strong> <a href="tel:{{page.numero_telephone}}">{{page.numero_telephone}}</a></p>
</address>

<h2>Interventions</h2>

{%- if page.interventions -%}
<ul>
  {%- for intervention in page.interventions -%}
  <li>
    <h3>{{intervention.description}}</h3>
    <ul>
      {%- if intervention.service -%}<li><strong>service :</strong> {{intervention.service}}</li>{%- endif -%}
      <li><strong>phase :</strong> {{intervention.phase}}</li>
      {%- if intervention.conditions -%}<li><strong>conditions :</strong> {{intervention.conditions}}</li>{%- endif -%}
      {%- if intervention.dossier -%}<li><strong>dossier :</strong> {{intervention.dossier}}</li>{%- endif -%}
      <li><strong>contact :</strong> {{intervention.contact}}</li>
    </ul>
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}


<div class="panel panel-info">
  <div class="panel-body">
    {{ content }}
    <a href="{{ page.adresse_url }}">Site web</a>
    <h4>Commentaire de la structure</h4>
    <p>{%- if page.commentaire_structure -%}{{page.commentaire_structure}}{%- endif -%}</p>
  </div>
</div>

<div class="page-header">
  <h4> Zone d'intervention : <strong>{{ page.zone_intervention }}</strong></h4>
</div>